<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>房价预测</title>
    <meta name="description" content="用于预测房价的网站">
</head>
<body>
    <form>
        <label for="size">房屋大小：</label>
        <input type="number" id="size" name="size"><br><br>
    
        <label for="bedrooms">卧室数量：</label>
        <input type="number" id="bedrooms" name="bedrooms"><br><br>
    
        <!-- 其他属性输入字段 -->
    
        <input type="submit" value="预测价格">
    </form>

    <div id="prediction-result">
        预测结果将在此显示
    </div>

    <!-- <script src="your-model.js"></script>
    <script src="your-script.js"></script> -->
</body>
</html>
